<% include partials/header%>
<% include partials/navbar%>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Todo List</h1>
    <p class="lead">Yes this is a landing page for a Todo list</p>
  </div>
</div>
<div class="container">

  
    <div class="row align-items-start">
        <div class="col-sm-4 col-md-4">
            <div class="card" >
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYg9RQ6RmU23dZzq6I5gql4VDq_UHDudb8tdZY7DchU0NzScs4" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2fAa2l5AR74EAAlQb8hVKuT8gHBE9CkHH5MYbd2hK3hSTm55zig" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbeaxTWKb9zMLB8zj-YppwpxVBRVKWKgASonZCx4f_G8X8FBQA" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
         <div class="col-md-4">
        One of three columns
        </div>
        <div class="col-md-4">
        One of three columns
        </div>
        <div class="col-md-4">
        One of three columns
        </div>
    </div>
    <div class="row align-items-end">
       <div class="col-md-4">
        One of three columns
        </div>
        <div class="col-md-4">
        One of three columns
        </div>
        <div class="col-md-4">
        One of three columns
        </div>
    </div>
    
</div>


<% include partials/footer%>