<% include partials/header%>
<% include partials/navbar%>
<div>
    <h1><%= todo.task %></h1>
    <a class="btn btn-success" href="/todo/<%= todo._id %>/edit">Update</a>
    
    <form action="/todo/<%= todo._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">DELETE</button>
    </form>

</div>

<% include partials/footer%>