<% include partials/header%>
<% include partials/navbar%>
<h1>MY todos</h1>
<div>
    <% todos.forEach(function(task){ %>
        <p><%= task.task %></p>
         <p>
            <a href="/todo/<%= task._id %>" class="btn btn-primary">More Info</a>
        </p>
    <% }); %>
   

</div>

<form action="/addtodo" method="POST">
    <input type="text" name="newtodo" placeholder="task">
    <button>add</button>
    
</form>

<% include partials/footer%>