<% include partials/header%>
<% include partials/navbar%>
<h1>MY todos</h1>

 <% todos.forEach(function(task){ %>
     <p><%= task.task %></p>
 <% }); %>

<form action="/addtodo" method="POST">
    <input type="text" name="newtodo" placeholder="task">
    <button>add</button>
    
</form>

<% include partials/footer%>