.card img{
    width: 100%;
    height: 300px;
    border-radius: 5%;
}
.card{
    height: 500px;
    box-shadow: 5px 5px #888888;
    border: 1px solid #888888;
    border-radius: 5%;
}
.card-text{
    padding: 10px, 20px;
    margin-left:20px;
    margin-top: 10px;
}
.carousel{
    margin-top: -20px;
}
.img-fluid{
    width: 100%;
}
.three{
    max-height: 500px;
    min-height: 500px;
}